*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-top: 55px;
    font-family: 'Montserrat', sans-serif;
}
header {
    border-bottom: 2px solid black;
    margin-top: -55px;
    position: fixed;
    background-color: aliceblue;
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
}
.logo-container,.nav-links, h1,.logo {
    display: flex;
}
.logo{
    font-weight: 400;
    margin: 35px 0px 0px 0px;
}
.animated_gif{
    width: 60px;
    height: auto;
    margin: 20px
}
.logo-container{
    flex: 0.38;
}
.regalo
{
    margin-left: 35%;
    height: 300px;
}
#gift{
    width: 300px;
    height: auto;
    margin-left: 35%;
}
.alma
{
    color: #3E49BB;
    text-align: center;
}
h1 {
    background:linear-gradient( #02782F, #024B78 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: 0.3;
}
nav{
    flex: 0.3;
}
.nav-links{
    list-style: none;
    justify-content: space-around;
}
.nav-link{
    color:dimgrey;
    text-decoration: none;
}

.presentacion {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 420px;
    align-items: center;
    border-bottom: 2px solid black;
}
.intro{
    flex: 1;
}
#Geom {
    flex:1;
}
#Geom img{
    height: 300px;
}
.intro-texto h2{
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(to right,#02786a, #b8d4d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: to-left 1.5s;
}
.intro-texto p{
    margin-top: 10px;
    font-size: 22px;
    color: #1a3632;
}
button {
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}
.botones
{
    margin-top: 15px;
}
.generar {
    margin-right: 13px;
    border: 2px solid #0e2436;
    background: transparent;
    color: #0e2436;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.comprar{
    margin-top: 5px;
    background: #0e2436;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.bloque {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.bloque-texto {
    margin: auto;  
}

.titulo1 {
    margin-bottom: 10px;
}

.texto1 {
    color: #0e2436;
    width: 425px; 
}

@keyframes to-left
{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width : 1000px) 
{
    .generar{
        margin-right: 0px;
    }
    .presentacion{
        flex-direction: column;
    }
    .intro-texto h2 {
        margin-top: 34px;
        text-align: center;
    }
    .botones{
        text-align: center;
    }
    #Geom{
        margin-top: 8px;
    }
    h1{
        font-size: 23px;
    }
    .bloque{
        flex-direction: column;
    }
    .bloque-texto{
        margin-top: 8px;
    }
    .texto1{
        width: auto;
    }
    .pag2_body{
        text-align: center;
        flex-direction: column;
    }
    #gift{
        margin-right: 25%;
        margin-left: 25%;
    }
}